* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: Montserrat, Roboto, sans-serif;
  background-color: #fafafa;
  color: #050505;
}

.form {
  display: flex;
  margin: 100px auto 40px;
  justify-content: center;
}

.form input {
  padding: 20px 40px;
}

.image-list {
  columns: 3;
  column-gap: 10px;
  margin: 80px;
}

.image-list img {
  width: 100%;
  margin: 3px 0;
}
