<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- include("partials/links.ejs") %>
    <title>Gallery Webite | Unsplash API</title>
  </head>
  <body>
    <main class="main">
      <h1>Gallery Website</h1>
      <p class="main__text">
        Using the
        <a class="main__text-link" href="https://unsplash.com/" target="_blank"
          >Unsplash<i class="bx bx-link-external"></i
        ></a>
        public API
      </p>
      <%- include("partials/form.ejs") %>
    </main>
  </body>
</html>
