<form class="main__form" method="GET" action="/search">
  <input
    class="form__input"
    type="text"
    name="search"
    id="search-input"
    placeholder="Search images"
    required
  />
  <button class="form__button" type="submit">
    <i class="bx bx-search"></i>
  </button>
</form>
